.about-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding: 2rem;
  width: 80%;
  max-width: 50rem;
  margin: 0 auto 2rem auto;
  text-align: left;
  font-size: 1.1rem;
  color: white;
  border-radius: 8px;
}

a {
  font-family: Arial, sans-serif;
  background-color: blueviolet;
  width: fit-content;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  justify-content: end;
  display: relative;
}

a:hover {
  background-color: #4a0072;
  text-decoration: none;
}
